*
{
    margin:0;
    padding:0;
}
.d
{   
    
    display: flex;
    justify-content: center;
    align-items: center;
}
.d h1
{
    text-align: center;

}
.btn
{
    position: absolute;
    display: flex;
    top:10%
    ;
}