.delete_container {
    width: 100%;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #222;
    border-radius: 10px;
    
    font-family: Arial, sans-serif;
    color: #fff;
    text-align: center;
}
.delete_container:hover
{
    box-shadow: 0 0 20px #ff073a;
}

.delete_container h1 {
    color: #ff073a;
    
    margin-bottom: 20px;
}
.delete_container h1:hover
{
    text-shadow: 0 0 5px #ff073a, 0 0 10px #ff073a, 0 0 20px #ff073a;
}

.delete_container form {
    display: flex;
    flex-direction: column;
}

.delete_container input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ff073a;
    border-radius: 5px;
    background-color: #333;
    color: #ff073a;
    outline: none;
    transition: all 0.3s ease;
}

.delete_container input:hover {
    box-shadow: 0 0 5px#ff073a, 0 0 10px#ff073a, 0 0 20px #ff073a;

}


.delete_container input::placeholder {
    color: #ff073a;
    opacity: 0.7;
}

.delete_container :focus {
    color:#ff073a;
    border: 1px solid #ff073a;
    background: transparent;
    margin: 10px;
}

.delete_container button {
    padding: 5px 10px; 
    margin-top: 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 14px; 
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    color: black;
    background-color: #ff073a;
    box-shadow: 0 0 5px#ff073a, 0 0 10px#ff073a, 0 0 20px #ff073a;
}
